<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Admin</title>
    <th:block th:replace="layout :: css" />
</head>
<body>
<header th:replace="layout :: header"></header>
<!--<nav th:replace="layoutAdmin :: admin-nav-top"></nav>-->
<div class="container-fluid">
    <div class="row">
        <nav th:replace="layoutAdmin :: admin-nav-left"></nav>
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">

        </main>
    </div>
</div>
</body>
</html>