<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create Form</title>
</head>
<body>
    <h2>Create A New Blog</h2>
    <a th:replace="view :: backToMenu"></a>
    <th:block th:if="${message}">
        <p th:text="${message}"></p>
    </th:block>
    <form th:action="@{/create}" method="post" th:object="${blog}">
    <table>
        <tr>
            <td>Name :</td>
            <td><input type="text" th:field="*{name}"></td>
        </tr>
        <tr>
            <td>Content :</td>
            <td><textarea rows="30" cols="40" th:field="*{content}"></textarea></td>
        </tr>
        <tr>
            <td>Create Date :</td>
            <td><input type="date" th:field="*{createDate}"></td>
        </tr>
        <tr>
            <td><input type="submit" th:value="Save"></td>
        </tr>
    </table>
    </form>
</body>
</html>