<div class="col-md-6 offset-3 ">
    <div class="d-flex justify-content-center ">
        <h2 class="text-success">EDIT EMPLOYEE FORM</h2>
    </div>
    <div class="mt-3 ">
        <form [formGroup]="createForm" (ngSubmit)="onSubmit()">

            <div class="input-group mb-2 mr-sm-2 ">
                <div class="input-group-prepend ">
                  <div class="input-group-text">Code</div>
                </div>
                <input type="text" class="form-control" formControlName="code" placeholder="NV-XXXX">
            </div>
            <div class="alert alert-danger" role="alert" 
            *ngIf="createForm.get('code').invalid && createForm.get('code').touched">
                Invalid Code!
            </div>
            <!-- -------------------------------------- -->
            <div class="input-group mb-2 mr-sm-2 ">
                <div class="input-group-prepend ">
                  <div class="input-group-text">Name</div>
                </div>
                <input type="text" class="form-control" formControlName="name" placeholder="Name">
            </div>
            <div class="alert alert-danger" role="alert" 
            *ngIf="createForm.get('name').invalid && createForm.get('name').touched">
                Invalid Name!
            </div>
            <!-- -------------------------------------- -->
            <div class="input-group mb-2 mr-sm-2">
                <div class="input-group-prepend">
                  <div class="input-group-text">Birthday</div>
                </div>
                <!-- <input type="date" class="form-control" formControlName="birthday" placeholder="Birthday"> -->
                <mat-form-field>
                    <input [min]="minDate" [max]="maxDate" class="form-control" formControlName="birthday" placeholder="Choose a date"
                     matInput [matDatepicker]="myDatepicker">
                    <mat-datepicker-toggle matSuffix [for]="myDatepicker"></mat-datepicker-toggle>
                    <mat-datepicker #myDatepicker></mat-datepicker>
                </mat-form-field>
            </div>
            <div class="alert alert-danger" role="alert" 
            *ngIf="createForm.get('birthday').hasError('required') && createForm.get('birthday').touched">
                Invalid Birthday!
            </div>
            <div class="alert alert-danger" role="alert" 
            *ngIf="createForm.get('birthday').hasError('invalidDate') && createForm.get('birthday').touched">
                Birthday Can Not Be Text!
            </div>
            <!-- -------------------------------------- -->
            <div class="input-group mb-2 mr-sm-2">
                <div class="input-group-prepend">
                  <div class="input-group-text">Gender</div>
                </div>
                <input type="text" class="form-control" formControlName="gender" placeholder="Gender">
            </div>
            <div class="alert alert-danger" role="alert" 
            *ngIf="createForm.get('gender').invalid && createForm.get('gender').touched">
                Invalid Gender!
            </div>
            <!-- -------------------------------------- -->
            <div class="input-group mb-2 mr-sm-2">
                <div class="input-group-prepend">
                  <div class="input-group-text">Id Card</div>
                </div>
                <input type="text" class="form-control" formControlName="idCard" placeholder="XXXXXXXXX">
            </div>
            <div class="alert alert-danger" role="alert" 
            *ngIf="createForm.get('idCard').invalid && createForm.get('idCard').touched">
                Invalid Id Card!
            </div>
            <!-- -------------------------------------- -->
            <div class="input-group mb-2 mr-sm-2">
                <div class="input-group-prepend">
                  <div class="input-group-text">Number Phone</div>
                </div>
                <input type="text" class="form-control" formControlName="numberPhone" placeholder="090xxxxxxx | 091xxxxxxx | (84)+90xxxxxxx | (84)+91xxxxxxx">
            </div>
            <div class="alert alert-danger" role="alert" 
            *ngIf="createForm.get('numberPhone').invalid && createForm.get('numberPhone').touched">
                Invalid Number Phone!
            </div>
            <!-- -------------------------------------- -->
            <div class="input-group mb-2 mr-sm-2">
                <div class="input-group-prepend">
                  <div class="input-group-text">Email</div>
                </div>
                <input type="email" class="form-control" formControlName="email" placeholder="abc@abc.abc">
            </div>
            <div class="alert alert-danger" role="alert" 
            *ngIf="createForm.get('email').invalid && createForm.get('email').touched">
                Invalid Email!
            </div>
            <!-- -------------------------------------- -->
            <div class="input-group mb-2 mr-sm-2">
                <div class="input-group-prepend">
                  <div class="input-group-text">Level</div>
                </div>
                <input type="text" class="form-control" formControlName="level" placeholder="Example : College">
            </div>
            <div class="alert alert-danger" role="alert" 
            *ngIf="createForm.get('level').invalid && createForm.get('level').touched">
                Invalid Level!
            </div>
            <!-- -------------------------------------- -->
            <div class="input-group mb-2 mr-sm-2">
                <div class="input-group-prepend">
                  <div class="input-group-text">Position</div>
                </div>
                <input type="text" class="form-control" formControlName="position" placeholder="Example : Manager">
            </div>
            <div class="alert alert-danger" role="alert" 
            *ngIf="createForm.get('position').invalid && createForm.get('position').touched">
                Invalid Position!
            </div>
            <!-- -------------------------------------- -->
            <div class="input-group mb-2 mr-sm-2">
                <div class="input-group-prepend">
                  <div class="input-group-text">Salary</div>
                </div>
                <input type="number" class="form-control" formControlName="salary" placeholder="Example : 1000">
            </div>
            <div class="alert alert-danger" role="alert" 
            *ngIf="createForm.get('salary').invalid && createForm.get('salary').touched">
                Invalid Salary!
            </div>
            <!-- -------------------------------------- -->
            <div class="input-group mb-2 mr-sm-2">
                <div class="input-group-prepend">
                  <div class="input-group-text">Department</div>
                </div>
                <input type="text" class="form-control" formControlName="department" placeholder="Example : Management">
            </div>
            <div class="alert alert-danger" role="alert" 
            *ngIf="createForm.get('department').invalid && createForm.get('department').touched">
                Invalid Department!
            </div>

            <div class="d-flex justify-content-center mt-4">
            <button type="submit" class="btn btn-primary" [disabled]="createForm.invalid">Update</button>
            </div>
        </form>
    </div>
    
</div>