<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Input PhoneNumber</title>
    <th:block th:replace="layout :: linkCss"/>
</head>
<body>
    <form action="#" th:action="@{/phone-number/}" th:object="${phoneNumber}" method="POST">
        <table>
            <tr>
                <td>PhoneNumber</td>
                <td><input type="text" th:field="*{number}"/></td>
                <td th:errors="*{number}">Name Error</td>
            </tr>
        </table>
        <button type="submit">submit</button>
    </form>
    <th:block th:replace="layout :: scriptCss"/>
</body>
</html>