<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head"></head>
<body>
<h3>Remove Customer</h3>
<p th:replace="create :: backToTheList"></p>
<div id="form">
    <form action="#" th:action="@{/products/deleted}" th:object="${product}"
          method="POST" novalidate="novalidate">
        <input type="hidden" th:field="*{id}"/>
        <div>
            <label>Name</label>
            <input type="text" th:field="*{name}"/>
        </div>
        <div>
            <label>Description</label>
            <input type="email" th:field="*{description}"/>
        </div>
        <div>
            <label>Manufacturer</label>
            <input type="text" th:field="*{manufacturer}"/>
        </div>
        <input type="submit" value="Remove">
    </form>
</div>
<footer th:replace="layout :: footer"></footer>
</body>
</html>