<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Customer</title>
    <th:block th:replace="layout :: css" />
</head>
<body>
<header th:replace="layout :: header"></header>
<div class="container-fluid">
    <div class="row">
        <nav th:replace="layoutAdmin :: admin-nav-left"></nav>
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
            <div class="container d-flex justify-content-center" style="margin-top: 100px">
                <div >
                    <h1 class="text-primary"><u>Edit Customer Information</u></h1>
                    <span th:text="${message}" class="text-success"></span>
                    <form action="/admin/service/edit" method="post" th:object="${customer}">

                        <input type="hidden" th:field="*{id}">
                        <div>
                            <table class="table">
                                <tr>
                                    <td>Customer Code :</td>
                                    <td><input type="text" placeholder="KH-XXXX" th:field="*{code}"></td>
                                    <td th:errors="*{code}" class="text-danger"></td>
                                </tr>

                                <tr>
                                    <td>Customer Name :</td>
                                    <td><input type="text" th:field="*{name}"></td>
                                    <td th:errors="*{name}" class="text-danger"></td>
                                </tr>

                                <tr>
                                    <td>Id Card :</td>
                                    <td><input type="text" th:field="*{idCard}"></td>
                                    <td th:errors="*{idCard}" class="text-danger"></td>
                                </tr>

                                <tr>
                                    <td>Phone Number :</td>
                                    <td><input type="text" th:field="*{phoneNumber}"></td>
                                    <td th:errors="*{phoneNumber}" class="text-danger"></td>
                                </tr>

                                <tr>
                                    <td>Email :</td>
                                    <td><input type="text" th:field="*{email}"></td>
                                    <td th:errors="*{email}" class="text-danger"></td>
                                </tr>

                                <tr>
                                    <td>Birthday :</td>
                                    <td><input type="date" th:field="*{birthday}"></td>
                                    <td th:errors="*{birthday}" class="text-danger"></td>
                                </tr>

                                <tr>
                                    <td>Address :</td>
                                    <td><input type="text" th:field="*{address}"></td>
                                    <td th:errors="*{address}" class="text-danger"></td>
                                </tr>

                                <tr>
                                    <td>Customer Type :</td>
                                    <td>
                                        <select th:field="*{customerType.id}">
                                            <option th:each="type : ${listCustomerType}" th:value="${type.id}" th:text="${type.name}"></option>
                                        </select>
                                    </td>
                                </tr>
                            </table>
                        </div>

                        <div class="d-flex justify-content-center" >
                            <input class="btn btn-success " type="submit" value="Save">
                        </div>

                    </form>
                </div>
            </div>
        </main>
    </div>
</div>
</body>
</html>