<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
    <title>Product List</title>
</head>
<body>
<div class="container">
<h1 style="color: green">Product List</h1>
    <th:block th:if="${message!=null}">
        <h2 th:text="${message}"></h2>
    </th:block>
    <p>
        <a class="btn btn-primary" th:href="@{/products/viewcart}">View Cart</a>
    </p>
        <table class="table table-bordered">
            <tr>
                <td>Name:</td>
                <td>Description</td>
                <td>Price</td>
                <td>View</td>
            </tr>
            <tr th:each="product:${products}">
                <td th:text="${product.name}"></td>
                <td th:text="${product.description}"></td>
                <td th:text="${product.price}"></td>
                <td>
                    <a th:href="@{/products/view/__${product.id}__}">View</a>
                </td>
            </tr>
        </table>
    </form>

</div>
</body>
</html>