<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User</title>
    <th:block th:replace="layout :: linkCss"/>
</head>
<body>
    <div class="container">
    <h1>Create New User</h1>
    <span th:if="${message}" th:text="${message}" style="color: green"></span>
    <form th:action="@{/user/}" method="post" th:object="${user}">
        <table class="table">
            <tr>
                <td>First Name</td>
                <td><input type="text" th:field="*{firstName}"></td>
            </tr>
            <tr th:if="${#fields.hasErrors('firstName')}">
                <td></td>
                <td th:errors="*{firstName}" class="text-danger"></td>
            </tr>
            <tr>
                <td>Last Name</td>
                <td><input type="text" th:field="*{lastName}"></td>
            </tr>
            <tr th:if="${#fields.hasErrors('lastName')}">
                <td></td>
                <td th:errors="*{lastName}" class="text-danger"></td>
            </tr>
            <tr>
                <td>Phone Number</td>
                <td><input type="text" th:field="*{phoneNumber}"></td>
            </tr>
            <tr th:if="${#fields.hasErrors('phoneNumber')}">
                <td></td>
                <td th:errors="*{phoneNumber}" class="text-danger"></td>
            </tr>
            <tr>
                <td>Age</td>
                <td><input type="text" th:field="*{age}"></td>
            </tr>
            <tr th:if="${#fields.hasErrors('age')}">
                <td></td>
                <td th:errors="*{age}" class="text-danger"></td>
            </tr>
            <tr>
                <td>Email</td>
                <td><input type="text" th:field="*{email}"></td>
            </tr>
            <tr th:if="${#fields.hasErrors('email')}">
                <td></td>
                <td th:errors="*{email}" class="text-danger"></td>
            </tr>
            <tr>
                <td><input type="submit" value="Sign Up" class="btn btn-success"></td>
            </tr>
        </table>
    </form>
    </div>
    <th:block th:replace="layout :: scriptCss"/>
</body>
</html>